@font-face
{
	font-family: "Nunito";
	src: url("Nunito-Regular.ttf");
}
	
body
{
background-image: linear-gradient(right bottom, rgb(196,196,196) 0%, rgb(139,142,148) 55%);
background-image: -o-linear-gradient(right bottom, rgb(196,196,196) 0%, rgb(139,142,148) 55%);
background-image: -moz-linear-gradient(right bottom, rgb(196,196,196) 0%, rgb(139,142,148) 55%);
background-image: -webkit-linear-gradient(right bottom, rgb(196,196,196) 0%, rgb(139,142,148) 55%);
background-image: -ms-linear-gradient(right bottom, rgb(196,196,196) 0%, rgb(139,142,148) 55%);

background-image: -webkit-gradient(
	linear,
	right bottom,
	left top,
	color-stop(0, rgb(196,196,196)),
	color-stop(0.55, rgb(139,142,148))
);
	display: inline-block;
	font-family: "Nunito";
	font-size: 16px;
	width: 100%;
}
header
{
	background-image: linear-gradient(right bottom, rgb(0,0,0) 0%, rgb(164,163,173) 50%);
	background-image: -o-linear-gradient(right bottom, rgb(0,0,0) 0%, rgb(164,163,173) 50%);
	background-image: -moz-linear-gradient(right bottom, rgb(0,0,0) 0%, rgb(164,163,173) 50%);
	background-image: -webkit-linear-gradient(right bottom, rgb(0,0,0) 0%, rgb(164,163,173) 50%);
	background-image: -ms-linear-gradient(right bottom, rgb(0,0,0) 0%, rgb(164,163,173) 50%);

	background-image: -webkit-gradient(
		linear,
		right bottom,
		left top,
		color-stop(0, rgb(0,0,0)),
		color-stop(0.5, rgb(164,163,173))
	);
	height: 6.5em;
	/*padding: 2em 0 0 1em;
	text-align: center;*/
	width: 100%;
}
footer
{
	background: none;
	height: 2em;
	text-align: right;
	/*bottom: 0;
	position:absolute;
	right: 0;*/
	
}
.inputForm
{
	margin: 0.8em 0 0.8em 0;
	padding: 0.4em 0.6em 0.4em 0.6em;
	width: 35%;
}
.labelForm
{
	float: left; 
	clear: right;
	margin: 0.4em 1.2em 0.4em 0;
	text-align: right;    
	width: 35%;
}
#MainMenu
{
	width: 18%;
	border-style: solid solid none solid;
	border-color: #94AA74;
	border-size: 1px;
	border-width: 1px;
	margin: 0;
}
#MainMenu li a 
{
	color: #909090;
  	height: 2em;
	text-decoration: none;
}	
#MainMenu li a:link, #menu li a:visited {
	color: white;
	display: block;
	background: #202020;
	padding: 8px 0 0 10px;
}
#MainMenu li a:hover {
	color: white;
	background: black;
	padding: 8px 0 0 10px;
}
	
#SelectedSection
{
	display: inline-block; 
     
        border-left: 20px solid transparent; 
        border-top: 40px solid white;   
        -webkit-border-top-right-radius: 20px;
		-moz-border-radius-topright: 20px;
		border-top-right-radius: 20px;

        height: 10em;
        padding: 0px;
        line-height: 10%; 
        
		position: absolute;
		top: 3.85em;
		left: 21em;
		
		width: 40%;
}
#SelectedSection h4
{
		position: absolute;
		top: -2em;
		left: 1em;
}

#WelcomeMessage 
{ 
        font-weight: bold; 
        display: inline-block; 
     
        border-right: 30px solid transparent; 
        border-bottom: 60px solid #4c4c4c;   
     
        height: 0; 
        line-height: 50px; 
        width: 20em;
}
#WelcomeMessage h5
{
	color: white; 
}
#DashBoard, #Users
{
	border-left-style: ridge;
	left: 18.5%;
	position: absolute;
	top: 6.6em;
	width: 81.5%;
}


/*DashBoard*/
#DashBoard, #Users
{
	background: white;
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.8) 0px 4px 10px;
}
#DashBoard article span
{
	color: green;
	font-size: 2.5em;
}
#DashboardFechas input
{
	width: 40%;
}
#Dashboard_GeoGraficas
{
	margin: 0;
	right: 1em;
	width: 35%;
}
#DashboardGraficas section
{
	cursor: pointer;
	display: inline-block;
	margin: 0.6em 0.6em 0.6em 0.6em;
	text-align: left;
	vertical-align: top;
}
#Dashboard_table_div
{
	width: 40%;
}
#PanelSuperior article, #DashboardFechas
{
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.8) 0px 4px 10px;
	background: PaleGoldenRod ;
	cursor: pointer;
	display: inline-block;
	margin: 0.6em 0.6em 0.6em 0.6em;
	min-height: 8em;
	padding: 0.2em;
	text-align: center;
	vertical-align: top;
	width: 17%;
}



/*24 de Enero*/
#MyAccount_Options_CreatingUsers
{
	display: none;
}
#AccessData_Message, 
#alertEstadoLogin, 
#CompanyData, 
#CreatingUsers_Create,
#MyUsers_Delete, 
#MyUsers_DeleteAlert, 
#MyUsers_DeleteUser, 
#MyUsersEdit_CompanyData, 
#MyUsersEdit_Message, 
#MyUsers_Edit, 
#MyUsers_Edit_Confirm, 
#MyAccount_Options_CreatingUsers,
#MyAccount_Options_Permissions_Delete, 
#MyUsersEdit_Permissions,  
#PersonalInformation_Message,
#Users,
#tableDeleteMyUsers
{
	display: none;
}
#MyUsers_InfoUser
{
	border-radius: 0.6em;
	border-style: solid;
	border-width: 2px;
	box-shadow: rgba(0,0,0,0.8) 0px 4px 10px;
	margin: 2em;
	padding: 1em;
}
#MyUsers_InfoUser li
{
	display: block;
	margin: 0 0 0 4em;
}
#MyUsers_InfoUser #MyUsers_InfoUser_Botones
{
	display: block;
	position: absolute;
	left: 4em;
	bottom: 3em;
	width: 4em;
}
#tableMyUsers_Username
{
	text-decoration: underline;
}
#tableMyUsers_Username:hover
{
	color: blue;
	cursor: pointer;
}
#tableMyUsers td
{
	cursor: pointer;
}
.password {
	font-size : 12px;
	border : 1px solid #cc9933;
	/*width : 200px;*/
	font-family : arial, sans-serif;
}
.pstrength-minchar {
	font-size : 10px;
}
	#Dashboard_GeoGraficas #geoPaises article
      {
        border-radius: 0.5em;
      	box-shadow: rgba(0,0,0,0.8) 0px 4px 10px;
      	background: Peru ;
      	cursor: pointer;
      	display: inline-block;
      	margin: 0.2em 0.2em 0.2em 0.2em;
      	padding: 0.2em;
      	text-align: center;
      	vertical-align: top;
      	
      }    
      #Dashboard_GeoGraficas #geoPaises h5
      {
		  font-size: 0.6em
      }
      #Dashboard_GeoGraficas #geoPaises h6
      {
        border-color: black;
        border-radius: 0.5em;
        border-style:solid;
        border-width:1px;
        background-color: white;
        color: green;
        font-size: 0.7em;
      }

#MyAccount_Options_MyUsers
{
	margin: 1em;
}
